<script src="https://js.stripe.com/v3"></script>

{% include purchase.html %}


<div id="error-message"></div>
<script>
(function() {
  var stripe = Stripe('pk_test_WJGgYhC3uLXBeI5eSi4nrDiq00GwWHHHHo');

  var checkoutButton = document.getElementById('checkout-button-sku_GlOAeVsxcgFBex');
  checkoutButton.addEventListener('click', function () {
    stripe.redirectToCheckout({
      items: [{sku: 'sku_GlOAeVsxcgFBex', quantity: 1}],

      successUrl: 'https://www.tenoclockbooks.com/success',
      cancelUrl: 'https://www.tenoclockbooks.com/canceled',

    })
    .then(function (result) {
      if (result.error) {
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>
<script>
(function() {
  var stripe = Stripe('pk_test_WJGgYhC3uLXBeI5eSi4nrDiq00GwWHHHHo');

  var checkoutButton = document.getElementById('checkout-button-sku_GlP6MnoJuzggI3');
  checkoutButton.addEventListener('click', function () {
    stripe.redirectToCheckout({
      items: [{sku: 'sku_GlP6MnoJuzggI3', quantity: 1}],

      successUrl: 'https://www.tenoclockbooks.com/success',
      cancelUrl: 'https://www.tenoclockbooks.com/canceled',

    })
    .then(function (result) {
      if (result.error) {
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>
