// Carousel – from https://css-tricks.com/css-only-carousel/

.slider {
  margin: 50px 0;
  text-align: left;
  overflow: hidden;
}
.slides {
  background-color: white;
  border: 15px solid white;
  display: flex;
  overflow-x: auto;
  // scroll-snap-type: x proximity;
  // scroll-behavior: smooth;
  // -webkit-overflow-scrolling: touch;
  // scroll-snap-points-x: repeat(300px);
  // scroll-snap-type: proximity;
  // scroll-padding: 50%;
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 12px;
  margin: 15px;
}
.slides::-webkit-scrollbar-thumb {
  background: transparentize($bodyColor,0.75);
  border-radius: 0;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  // scroll-snap-align: center;
  display: flex;
  flex-shrink: 0;
  margin-right: 25px;
  // transform-origin: center center;
  // transform: scale(1);
  // transition: transform 0.5s;
  // position: relative;
  // justify-content: center;
  // align-items: center;
  // font-size: 100px;
}
// .slides > div:target {
//    transform: scale(0.8);
// }
.slide {
  // @include show(red);
}
.slide img {
  border: 15px solid white;
  max-height: 350px;
  display: inline-block;
  margin-bottom: 25px;

}
