// Carousel – from https://css-tricks.com/css-only-carousel/
.slider {
  margin: 50px 0;
  text-align: left;
  overflow: hidden;
  @include mq(small) {
    margin: 20px 0;
  }
}
.slides {
  background-color: white;
  border: 15px solid white;
  display: flex;
  overflow-x: auto;
  @include mq(small) {
    border: 5px solid white;
  }
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 12px;
  margin: 15px;
}
.slides::-webkit-scrollbar-thumb {
  background: transparentize($bodyColor,0.75);
  border-radius: 0;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  display: flex;
  flex-shrink: 0;
  margin-right: 25px;
}
.slide img {
  border: 15px solid white;
  max-height: 350px;
  display: inline-block;
  margin-bottom: 25px;
  @include mq(small) {
    border: 5px solid white;
  }
}
