// Universal
.content {
  min-height: 100%;
  position: relative;
  @include mq(medium) {
    // @include show(red);
  }
  @include mq(small) {
    // @include show(green);
  }
}
h2 {
  font-family: $headerFont;
  font-size: 1.75em;
  margin: 0 0;
  padding-top: 10px;
  @include mq(small) {
    line-height: 1.2;
    font-size: 1.75em;
  }
  @include mq(narrow) {
    padding-top: 25px;
    margin-bottom: 25px;
    font-size: 2em;
  }
}
h3 {
  font-weight: 500;
  margin: 50px 0 25px;
  text-align: left;
  word-spacing: -1px;
  font-size: 1.1em;
  color: lighten($bodyColor, 50%);
  @include mq(small) {
    line-height: 1.2;
    font-size: 1.25em;
    margin: 0 0 .5em;
  }
}
p {
  margin: 0 0 .5em;
  word-spacing: -30%;
  strong {
    font-weight: 700;
  }
}
a {
  text-decoration: underline;
}
