// Universal
.content {
  min-height: 100%;
  position: relative;
  @include mq(medium) {
    // @include show(red);
  }
  @include mq(small) {
    // @include show(green);
  }


}
h2 {
  font-family: $headerFont;
  font-size: 1.75em;
  margin: 0 0;
  padding-top: 10px;
  @include mq(small) {
    line-height: 1.2;
    font-size: 1.75em;
  }
  @include mq(narrow) {
    padding-top: 25px;
    margin-bottom: 25px;
    font-size: 2em;
  }
}
h3 {
  font-weight: 500;
  font-size: 1.5em;
  @include mq(small) {
    line-height: 1.2;
    font-size: 1.25em;
    margin: 0 0 .5em;
  }
}
p {
  margin: 0 0 .5em;
  word-spacing: -30%;
  strong {
    font-weight: 700;
  }
}
a {
  text-decoration: underline;
}


// Homepage
.cta-strip {
  > *  {
    min-width: 50%;
    box-sizing: border-box;
  }
  position: absolute;
  display: flex;
  width: 100%;
  margin: 0 0 0;
  box-sizing: border-box;
  bottom: 0;
  padding: 20px;
  background-color: transparentize($backgroundColor,0.1);
  @include mq(small) {
    display: block;
    font-size: smaller;
  }
  @include mq(narrow) {
  }
  h2 {
    text-align: right;
    padding-right: .5em;
    @include mq(small) {
      text-align: center;
      margin-bottom: .5em;
    }
  }
  .cta-strip--sticker {
    font-size: 14px;
    position: absolute;
    min-width: 0 !important;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    top: -120px;
    left: 8%;
    background-color: $red;
    color: white;
    text-align: center;
    transform: rotate(-5deg);
    box-shadow: 0 5px 0 transparentize($bodyColor,0.95);
    strong {
      display: inline-block;
      line-height: 1.2;
      margin-top: 50%;
      transform: translateY(-50%);
    }
  }
}
