.content-intro--content {
  @include cf();
}
h2 {
  text-align: center;
  font-family: $headerFont;
  font-size: 2.25em;
  margin: 25px 0 50px;
  padding-top: 50px;
  @include mq(small) {
    line-height: 1.2;
    font-size: 1.75em;
  }
  @include mq(narrow) {
    padding-top: 25px;
    margin-bottom: 25px;
    font-size: 2em;
  }
}
h3 {
  font-weight: 500;
  font-size: 1.5em;
  @include mq(small) {
    line-height: 1.2;
    font-size: 1.25em;
    margin: 0 0 .5em;
  }
}
p {
  margin: 0 0 .5em;
  word-spacing: -30%;
  strong {
    font-weight: 700;
  }
}

a {
  text-decoration: underline;
}
.content {
}
.content-intro {
  max-width: 80%;
  margin: 30% auto 0;
  background-color: transparentize($backgroundColor,0.1);

  h3 {
    font-weight: 700;
    font-size: 1.2em;
    margin: 25px 0 0;
  }
  h3 img {
    display: block;
    width: 100%;
    max-width: 480px;
    margin: 50px 50px 50px 0;

  }
  p {

  }
}
main p {
  word-spacing: -2px;
  @include mq(narrow) {
    text-align: left;
  }
}
.review {
  li {
    margin: 1em 0;
  }
}
