body.default {
  background-image: url(/assets/images/fisherwomen_hero1.jpg), $backgroundColor;
  }
.cta-strip {
  > *  {
    min-width: 50%;
    box-sizing: border-box;
  }
  position: absolute;
  display: flex;
  width: 80%;
  left: 10%;
  margin: 0 0 0;
  box-sizing: border-box;
  bottom: 0;
  padding: 20px;
  background-color: transparentize($backgroundColor,0.1);
  @include mq(small) {
    display: block;
    font-size: smaller;
  }
  @include mq(narrow) {
  }
  h2 {
    text-align: center;
    padding-right: .5em;
    @include mq(small) {
      text-align: center;
      margin-bottom: .5em;
    }
  }
  .cta-strip--sticker {
    font-size: 14px;
    position: absolute;
    min-width: 0 !important;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    top: -80px;
    left: -5%;
    background-color: $red;
    color: white;
    text-align: center;
    transform: rotate(-5deg);
    box-shadow: 0 5px 0 transparentize($bodyColor,0.95);
    strong {
      display: inline-block;
      line-height: 1.2;
      margin-top: 50%;
      transform: translateY(-50%);
    }
  }
}
