// Product pages
.product {
  background-image: none, linear-gradient(180deg, #080708, #171518);
}
.content-intro {
  margin: 50px auto 0;
  background-color: transparentize($backgroundColor,0.1);
  max-width: 55em;
  padding: 50px;
  h2 {
    margin: 1em auto 2em;
    text-align: center;
  }
}
.content-intro--content {
  @include cf();
    max-width: 40em;
    margin: 0 auto;

}

.statement {
  clear: both;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.2;
  color: $backgroundColor;
  margin: 1em auto 0;
  font-weight: 700;
  max-width: 100%;
  @include mq(narrow) {
    margin-top: 25px;
  }
}
.statement + section > p {
  margin-top: 50px;
}

main p {
  word-spacing: -2px;

  @include mq(narrow) {
    text-align: left;
  }
}
.review {
  li {
    margin: 1em 0;
  }
}
