// Product pages
.product {
}
.content-intro {
  margin: 50px auto 0;
  background-color: transparentize($backgroundColor,0.05);
  max-width: 50em;
  padding: 50px;
  @include mq(small) {
    padding: 25px;
    max-width: 40em;
  }
  h2 {
    margin: 1em auto 2em;
    text-align: center;
    @include mq(small) {
      margin: 0;
    }
  }
  blockquote {
    font-family: $headerFont;
    margin: 50px 2em 0;
    font-style: italic;
    font-size: larger;
    // line-height: 22px;
    & p:before {
      content: "\201c";
      display: inline-block;
      margin-left: -.5em;
      padding-right: .25em;
    }
    & p:after {
      content: "\201d";
      display: inline-block;
      margin-right: .5em;
      padding-left: -.25em;
    }
  }
  blockquote+p {
    font-family: $headerFont;
    margin: 25px 2em;
  }
  a:link, a:visited, a:hover, a:active {
    color: $red;
    text-decoration: none;
  }
  a:hover {
    color: darken($red,20%);
  }
}
.content-intro--content {
  @include cf();
    max-width: 40em;
    margin: 0 auto;

}

.statement {
  clear: both;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.2;
  color: $bodyColor;
  margin: 1em auto 0;
  font-weight: 700;
  max-width: 100%;
  @include mq(small) {
    margin-top: 1.5em;
    font-size: 1.2em;
  }
  @include mq(narrow) {
    margin-top: 25px;
  }
}
.statement + section > p {
  margin-top: 50px;
}

main p {
  word-spacing: -2px;

  @include mq(narrow) {
    text-align: left;
  }
}
