.purchase--wrap {
  margin: 25px auto;
  @include cf();
}
.purchase-link {
  float: left;
  width: 46%;
  background-color: $red;
  margin: 25px 2%;
  box-sizing: border-box;
  @include transition();
  &:hover {
    transform: scale(1.05);
  }
  &:nth-of-type(1) { margin-left: 0;}
  &:nth-of-type(2) { margin-right: 0;}
}
.purchase-link--anchor {
  padding: .5em;
  display: block;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.purchase {
  text-align: left;
  border-top: 12px solid lighten($red,45%);
  // max-width: 640px;
  margin: 25px auto;
  padding: 25px 0;
  @include mq(narrow) {
    text-align: center;
  }
}
.purchase--heading {
  font-weight: 700;
  font-size: 1.35em;
  line-height: 1.2;
}
.purchase--action {
  margin: 1em 0;
  white-space: nowrap;
  @include mq(narrow) {
    display: block;
    text-align: center;
  }
}
.purchase--deliveryest {
  // font-size: .9em;
  // font-style: italic;
  display: block;
}
.buy {
  background-color: black;
  color: white;
  display: inline-block;
  padding: 0.2em .5em 0;
  border-radius: 2px;
  min-width: 60%;
    @include transition();
  &:hover {
    transform: scale(1.03);
    background-color: #ed1a35;
  }
  @include mq(narrow) {
    display: block;
    margin: .5em auto;
  }

}
.poweredby {
  img {
    max-width: 128px;
    margin: 25px auto;
    float: none;
  }
}
.noshipping {
  .buy {
    min-width: 30%;
  }
}
