// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "colors",
        "typography",
        "mixins",
        "content",
        "product",
        "purchase";


html {
  scroll-behavior: smooth;
}
body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  font-weight: 500;
  font-style: normal;
  font-size: 1.1em;
  line-height: 1.5;

}
h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: 500;
}


// -- temp styles -- //
body {
  text-align: left;
  padding: 0 10%;
  @include mq(small) {
    padding: 0 5%;
  }

}
.header {
  padding: 50px 0;
  min-height: 50px;
}
.title {
  border: none;
  float: left;
  height: 50px;
}
.title--logo {
  max-width: 225px;
  border: none;
}
.follow {
  float: right;
  height: 50px;
}
.follow--header {
  font-size: .7em;
  text-transform: uppercase;
  border-top: none;
  padding-top: 0;
  letter-spacing: 1px;
  // margin: 25px 0 0;
  float: left;
}
.follow--links {
  // margin: 25px 0;
}
.follow--links li {
  display: inline-block;
  max-height: 48px;
  margin: 0 5px;
}
.follow--icon {
  max-height: 36px;
  margin: 0;
  @include transition();
  &:hover {
    transform: scale(1.05);
  }
}

.statement {
  font-size: 1.5em;
  line-height: 1.2;
  color: $red;
  margin: 100px 0 0;
  text-align: center;
  font-weight: 700;
  max-width: 100%;
}

footer {
  margin: 50px auto 25px;
  border-top: 2px solid #ddd;
}
.footer--copyright {
  max-width: 640px;
  text-align: center;
  margin: 25px auto 25px;
  font-size: .8em;
  @include mq(small) {
    max-width: 80%;
  }
}
.logomark {
  max-width: 64px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1000;
  @include transition();
  &:hover {
    transform: scale(1.2);
  }

}

.error {
  margin: 0 50px;
  font-weight: 700;
}
//Mailchimp Form
.mc_signup {
  text-align: center;
  margin: 25px auto 0;
  padding: 0;
  h2 {
    font-size: 1em;
    font-weight: 700;
    display: inline-block;
    margin: 0 1em 0 0;
    padding-top: 0;
    font-family: $bodyFont;
  }
}
.mc_signup--elements {
  display: inline-block;
}
.mc_signup--elements * {
  display: inline-block;
  color: $red;
  vertical-align: middle;

  @include mq(small) {
    display: block;
    margin: 25px auto;
    text-align: center;
  }
  input {
    background-color: lighten($red,45%);
    border: 1px solid $red;
    border: none;
    padding: .5em .5em .25em;
    font-size: 1em;
    font-family: $bodyFont;
    line-height: 1;
    color: $bodyColor;
    &::placeholder {
      color: lighten($red,25%);
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: lighten($red,25%);
    }
    &::-ms-input-placeholder { /* Microsoft Edge */
      color: lighten($red,25%);
    }

  }
  .clear {}
  .button {
    color: $red;
    background-color: #fff;
    border: 1px solid $red;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    font-size: .9em;
    padding: .5em 1em .35em;
    @include transition();
    &:hover {
      transform: scale(1.05);
    }

  }
}
.alert {
  margin: 25px 0 50px;
  padding: 25px 25px;
  border: 3px double $red;
  background-color: lighten($red,47%);
  h1 {
    margin: 0 0 1em;
    text-transform: uppercase;
    color: darken($red,10%);
    font-weight: 700;
    font-size: .8em;
    letter-spacing: 2px;
  }
  p {
  }
}
