// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "mixins",
        "purchase";

$backgroundColor: #fffffe;
$bodyColor: #222;
$bodyFont: adobe-caslon-pro, serif;
$red: #ed1a35;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2em;
  line-height: 1.5;

}
h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: 500;
}


// -- temp styles -- //
body {
  text-align: center;
  padding: 0 25%;
  @include mq(small) {
    padding: 0 5%;
  }

}
.title {
  font-size: 1.1em;
  border: none;
  display: inline-block;
}
.title--logo {
  max-width: 225px;
  border: none;
  display: block;
  margin: 100px auto 75px;
}
h2 {
  border-top: 1px solid #ddd;
  padding-top: 1em;
  font-size: 2.25em;
  margin: 1em 0 1em;
  @include mq(small) {
    line-height: 1.2;
    font-size: 1.75em;
  }
}
h3 {
  font-weight: 500;
  font-size: 1.5em;
  @include mq(small) {
    line-height: 1.2;
    font-size: 1.25em;
    margin: 0 0 .5em;
  }
}
p {
  margin: 0 0 .5em;
  word-spacing: -30%;
  strong {
    font-weight: 700;
  }
}

a {
  text-decoration: underline;
}
main img {
  display: block;
  margin: 75px 0;
}
main p {
  text-align: justify;
  word-spacing: -2px;
  @include mq(narrow) {
    text-align: left;
  }
}
footer {
  margin: 100px 0 50px;
}
.footer--copyright {
  margin: 50px 0;
}
.poweredby {
  img {
    max-width: 128px;
    margin: 25px auto;
  }
}
.error {
  margin: 0 50px;
  font-weight: 700;
}
//Mailchimp Form
.mc_signup {
  h2 {
    font-size: 1em;
    font-weight: 700;
  }
}
.mc_signup--elements * {
  display: inline-block;
  color: $red;
  input {
    background-color: #fff;
    border: 1px solid $red;
    padding: .5em .5em .25em;
    font-size: 1em;
    font-family: $bodyFont;
    line-height: 1;
    @include mq(narrow) {
      display: block;
      margin: .5em 0;
    }
  }
  .button {
    border-radius: 5px;
    cursor: pointer;
  }
}
.alert {
  margin: 25px 0;
  padding: 25px 25px;
  border: 3px double $red;
  background-color: lighten($red,47%);
  h1 {
    margin: 0 0 1em;
    text-transform: uppercase;
    color: darken($red,10%);
    font-weight: 700;
    font-size: .8em;
    letter-spacing: 2px;
  }
  p {
  }
}
