{% include head.html %}
  <body>
    <main>
      <h1 class="logo"><a href="/"><img class="title--logo" src="{{ p.url | prepend: site.baseurl }}/assets/images/logo-tenoclockbooks.png" alt="Ten O'Clock Books" /></a></h1>
      {{ content }}

      {% if page.shipping == true and page.tags contains "general" %}

        {% include stripe.html %}

      {% elsif page.shipping == true and page.tags contains "artistsedition" %}

        {% include stripe_artistsedition.html %}

      {% elsif page.shipping == false %}

        {% include stripe_noshipping.html %}

      {% endif %}

  </main>
  {% include footer.html %}
  </body>
</html>
