{% include head.html %}
  <body style="background-image: url(/assets/images/{{ page.bgimg }}.jpg), linear-gradient(180deg, #080708, #171518)">
    <main class="content">

    {% include header.html %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0" nonce="64wUnRhz"></script>

      <section class="cta-strip">
        <p class="cta-strip--sticker">
          <strong>{{ page.title }}</strong>
        </p>
        {{ content }}

        {% if page.shipping == false and page.tags contains "home" %}
          <div class="purchase--wrap">
            <button class="purchase-link"><a class="purchase-link--anchor" href="/fisherwomen_portfolio_edition">Buy Portfolio edition</a></button>
            <button class="purchase-link"><a class="purchase-link--anchor" href="/fisherwomen_artists_edition">Buy Artists edition</a></button>
          </div>

        {% elsif page.shipping == true and page.tags contains "noshipping" %}

          {% include purchase_noshipping.html %}

        {% elsif page.shipping == true and page.tags contains "portfolioedition" %}

          {% include purchase_portfolioedition.html %}

        {% elsif page.shipping == true and page.tags contains "artistsedition" %}

          {% include purchase_artistsedition.html %}

        {% endif %}

      <!-- {% include reviews.html %} -->
      </section>
    </main>

  </body>
</html>
