{% include head.html %}
  <body>
    <main class="content">
      <header class="header">
        <h1 class="title"><a href="/"><img class="title--logo" src="{{ p.url | prepend: site.baseurl }}/assets/images/logo-tenoclockbooks.png" alt="Ten O'Clock Books" /></a></h1>
        <section class="follow">
          <!-- <h2 class="follow--header">Follow us</h2> -->
          <ul class="follow--links">
            <li>
              <a href="https://www.instagram.com/tenoclockbooks">
                <img class="follow--icon" src="{{ p.url | prepend: site.baseurl }}/assets/images/icon--instagram.png" alt="Instagram" /></a>
            </li>
            <li>
              <a href="https://www.facebook.com/tenoclockbooks">
                <img class="follow--icon" src="{{ p.url | prepend: site.baseurl }}/assets/images/icon--facebook.png" alt="Facebook" /></a>
            </li>
          </ul>
        </section>
      </header>

<!--
      <div class="alert">
        <h1>Coronavirus update</h1>
        <p>As you are aware, the Coronavirus has affected nearly every part of our lives.
          Our first publication, <em>Fisherwomen</em> by Craig Easton is imminent, but the production
          has been delayed to ensure anyone working on the project is not put at risk.</p>
        <p>Of course, being a start-up book publisher, we would be grateful for any further
          pre-orders at this time. Stay safe.</p>
      </div> -->

      <p class="statement">
        {{ page.title }}
      </p>

      <section {% if page.tags contains "product" %} class="content-intro product" {% else %} class="content-intro product" {% endif %}>
      {{ content }}
      {% if page.shipping == false and page.tags contains "home" %}
        <div class="purchase--wrap">
          <button class="purchase-link"><a class="purchase-link--anchor" href="/fisherwomen_standard_edition">Standard edition</a></button>
          <button class="purchase-link"><a class="purchase-link--anchor" href="/fisherwomen_artists_edition">Artist edition</a></button>
        </div>

      {% elsif page.shipping == true and page.tags contains "standardedition" %}

        {% include stripe.html %}

      {% elsif page.shipping == true and page.tags contains "artistsedition" %}

        {% include stripe_artistsedition.html %}

      {% endif %}

      </section>
    </main>

<!--End mc_embed_signup-->
  {% include footer.html %}
  </body>
</html>
